</nav>
<div class="w-11/12 bg-ice h-10 flex justify-between mt-2">
  <input type="text" class="bg-ice font-hairline placeholder-slate h-10 pl-8 w-full outline-none" placeholder="Search news">
  <button class="h-10"><img src="../assets/images/icn_search_dark.svg" class="pr-4 pl-2 p-1 outline-none" alt=""></button>
</div>
</header>